<div class="chat-container">
    <div class="chat-messages" #messagesContainer>
        <ng-container>
            @for (message of messages; track message.id) {
                <app-message-bubble
                        [message]="message"
                        [isTyping]="message.isTyping"
                        [displayContent]="message.displayContent"
                ></app-message-bubble>
            }
        </ng-container>

        @if (isLoading) {
            <app-loading-spinner></app-loading-spinner>
        }
    </div>

    <div class="chat-input-container">
        <app-chat-input
                (sendMessage)="onSendMessage($event)"
                [disabled]="isLoading"
        ></app-chat-input>
    </div>
</div>
